[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = Royi Shauli
	email = royi.shauli@technicolor.com
[apply]
	ignorewhitespace = change
[core]
	autocrlf = input
[push]
	default = simple
[log]
	decorate = full
[color]
	ui = auto
